@font-face {
  font-family: "Modesto";
  src: url("/src/fonts/modesto.eot");
  src: url("/src/fonts/modesto_ie.eot") format("embedded-opentype"), url("/src/fonts/modesto.woff2") format("woff2"),
    url("/src/fonts/modesto.woff") format("woff"), url("/src/fonts/modesto.ttf") format("truetype"),
    url("/src/fonts/modesto.svg") format("svg");
}

@font-face {
  font-family: "runic";
  src: url("/src/fonts/modranihtrunic-yvxj-webfont.woff2") format("woff2"),
    url("/src/fonts/modranihtrunic-yvxj-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: "212_keyboardregular";
//   src: url("/src/fonts/212keyboard-lmrz-webfont.woff2") format("woff2"),
//     url("/src/fonts/212keyboard-lmrz-webfont.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
// }

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
