.rst__moveHandle,
.rst__loadingHandle {
  background: $dark
    url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MiIgaGVpZ2h0PSI0MiI+PGcgc3Ryb2tlPSIjRkZGIiBzdHJva2Utd2lkdGg9IjIuOSIgPjxwYXRoIGQ9Ik0xNCAxNS43aDE0LjQiLz48cGF0aCBkPSJNMTQgMjEuNGgxNC40Ii8+PHBhdGggZD0iTTE0IDI3LjFoMTQuNCIvPjwvZz4KPC9zdmc+")
    no-repeat center !important;
  border: none;
  box-shadow: none;
  width: 27px;
}

.rst__rowContents {
  border: none;
  box-shadow: none;
}

.journalTitle {
  border-bottom: 2px solid black;
}

.treeElement .rst__rowContents {
  cursor: pointer;
}

.treeElement .rst__rowContents:hover {
  background: lightgray;
}

.treeElement.selected .rst__rowContents {
  background: lightgray;
}

.journal-card {
  margin: 0;
}

.journal-foot {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid $secondary;
}

#block-menu-container {
  z-index: 1999;
}
