body {
  font-family: "Carrois Gothic" !important;
  font-size: 14px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Modesto";
  font-weight: 100;
  font-variant: small-caps;
}

#page-container {
  // overflow-y: auto;
  padding: 3em 2em;
  margin-left: 20em;
  // overflow-x: hidden;
  margin-top: 4em;
  margin-bottom: 8em;
  width: 100%;
}

#page-container-logged-out {
  padding: 3em 2em;
  // margin-left: 20em;
  // overflow-x: hidden;
  margin-top: 4em;
  margin-bottom: 8em;
  width: 100%;
}

#root-fragment {
  margin: 0;
}

#bg-image::before {
  content: "";
  background: url("/src/img/viking-with-axes-hands-rocky-mountains.jpg");
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: brightness(40%) grayscale(100%);
}

#site-title,
#site-subtitle {
  color: white;
}

#site-subtitle {
  font-size: 400%;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #495057 !important;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgb(73, 80, 87 / 5) !important;
}

.modesto {
  font-family: "Modesto";
  font-size: 10pt;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.credit {
  padding: 2em;
  font-size: 12px;
  color: white;
}

.oracleIcon::before {
  content: "p";
  font-family: "runic";
  font-style: initial;
  padding-left: 0.2em;
  font-size: 16px;
}

.btn {
  font-family: "Modesto";
  font-size: 10pt !important;
  padding: 0.6em 1em !important;
}

.card {
  box-shadow: 2px 2px 2px black;
}

.world-card {
  box-shadow: none !important;
}

.form-control {
  // font-family: "Modesto";
  font-family: "Carrois Gothic" !important;
  // font-size: 20px !important;
}

.modesto {
  font-family: "Modesto" !important;
  font-size: 10pt !important;
}
.stat-title {
  border-top: 3px solid black;
  position: relative;
  text-align: center;
}

.stat-title span {
  background: white;
  padding: 0.4em;
  position: inherit;
  top: -0.7em;
}

.btn-tag {
  cursor: default !important;
  padding: 0.65em 1em !important;
}

.btn-tag-sm {
  padding: 0.35em 1em !important;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.border-left-2 {
  border-left: 2px solid grey !important;
}

.table-striped {
  border-bottom: 2px solid lightgray;
}

.btn-sm {
  line-height: 0.5 !important;
  padding: 0.6em 0.6em !important;
}

.btn-google {
  background: white !important;
  font-family: "Roboto", sans-serif;
  border: 1px solid $secondary !important;
  box-shadow: 1px 1px 1px gray;
}

.btn-google:hover {
  background: rgb(252, 252, 252) !important;
}

.roll-icon {
  font-size: 1.5em;
  line-height: 0;
  vertical-align: sub;
}

.roll-button {
  padding: 0.4em 0.1em 0.3em 0.3em !important;
  margin: 0 1em 0 0;
  i {
    padding: 0 0.1em;
    margin: 0;
  }
}

.leaflet-top,
.leaflet-bottom {
  z-index: 900 !important;
}

.header-nav .nav-item {
  background: none;
}

// table {
//   width: 100%;
//   margin-bottom: 1rem;
//   color: #212529;

//   th,
//   td {
//     padding: 0.75rem;
//     vertical-align: top;
//     border-top: 1px solid #dee2e6;
//   }

//   thead th {
//     vertical-align: bottom;
//     border-bottom: 2px solid #dee2e6;
//   }

//   tbody + tbody {
//     border-top: 2px solid #dee2e6;
//   }

//   tbody tr:nth-of-type(odd) {
//     background-color: rgba(0, 0, 0, 0.05);
//   }
// }
